* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  color: #777777;
  background-image: url('../images/p5.png');
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
}

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
  color: #4aaaa5;
  padding: 14px 0 24px 0;
  margin: 0 0 20px 0;
  border-bottom: solid 3px #dddddd;
  font-size: 1.5em;
}

header {
  border-bottom: solid 1px #cccccc;
  background: #ffffff;
  position: fixed;
  height: 80px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
}

.headerContentWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin: 0 auto; 
  height: 80px;
}

section {
  background: #fff;
  border: solid 1px #dddddd;
  padding: 30px;
  margin-bottom: 60px;
}

.logo {
  flex-grow: 0;
  background: #4aaaa5;
  color: white;
  padding: 0 30px;
  font-size: 24px;
  border-bottom: none;
  margin: 0;
  line-height: 80px;
}

.contentWrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  flex: 1 0 auto;
}

.navLinks {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
  height: 80px;
}

.navLinks li {
  border-right: solid 1px #ddd;
}

.navLinks li:last-of-type {
  border-right: none;
}

.navLinks li a {
  display: inline-block;
  text-decoration: none;
  color: #9d999d;
  font-size: .9em;
  padding: 10px 20px;
  background-color: rgba(74, 170, 165, 0.0);
  transition: background-color .5s ease;
}

.navLinks li a.active {
  color: #4aaaa5;
}

.navLinks li a:hover {
  color: #4aaaa5;
  background-color: rgba(74, 170, 165, 0.2);
}

.navLinks li a:active {
  color: white;
  background-color: rgba(74, 170, 165, 1.0);
}

.profilePic {
  float: left;
  display: inline;
  width: 250px;
  height: auto;
  margin: 0px 20px 20px 0;
}


/* --- portfolio area --- */
.portfolioCards {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.portfolioCard {
  display: inline-block;
  float: left;
  width: 320px;
  height: 240px;
  padding: 0;
  margin: 0px 30px 30px 0;
}

.portfolioCard a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  transform: scale(1);
  transition: transform .25s ease-out, box-shadow .35s ease-in-out;
  overflow: hidden;
}

.portfolioCard a img {
  position: absolute;
  width: 100%;
  auto;
  left: 0;
  top: 0;
}

.portfolioCard a h3 {
  background: #4aaaa5;
  color: white;
  position: absolute;
  z-index: 100;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  padding: 10px 6px;
  margin: 0;
  bottom: 10px;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0.0);
  transition: text-shadow 0.25s ease, box-shadow 0.25s ease, bottom 0.25s ease-in-out;
}

.portfolioCard a:hover {
  box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  transform: scale(1.02);
}

.portfolioCard a:hover > h3 {
  box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  bottom: 16px;
}

/* -- contact page -- */

label, input, textarea {
  width: 100%;
  display: block;
}

label {
  margin-bottom: 1.4em;
}

form p {
  margin-bottom: 6px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: solid 1px #ddd;
}

textarea {
  height: 200px;
  margin-bottom: 20px;
}

button {
  display: inline-block;
  background: #4aaaa5;
  color: white;
  padding: 10px 30px;
  font-size: 1.1em;
  border: none;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition: box-shadow .25s ease, text-shadow .25s ease, background-color: .25s ease;
}

button:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

button:active {
  background-color: #2b6360;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

button:focus {
  outline: none;
}

footer {
  text-align: center;
  border-top: solid 8px #4aaaa5;
  background: #666666;
  flex-shrink: 0;
  padding: 24px 0 10px 0;
  font-size: .6em;
  color: #adadad;
}